[Desktop Entry]
Type=Application
Name=Core Terminal
GenericName=Terminal Emulator
Comment=A small GTK terminal inspired by macOS Terminal
Exec=core-terminal
TryExec=core-terminal
Icon=io.github.ksudo_dev.CoreTerminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;shell;console;
StartupNotify=true
StartupWMClass=io.github.ksudo_dev.CoreTerminal
